body {
    background-image: url("../img/fondo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

#cajitaInformacion {
    border-radius: 25px;
    background: #FFFFFF;
    opacity: 0.93;
    padding: 2px; 
    width: 92%;
}