<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VPlaya1(playa.id)">
  Regresar</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>

<div id="cajitaInformacion" align="center" style="text-align: center; margin-left: 4%; margin-right: 2%;">

</br>
<div align="center"><img alt="Olitas" src="img/olitas2.png" width="95%" height="10"/></div>
<table align="center">
	<tr>
	    <td style="width: 10px;"><img alt="Estrellita" src="img/estrella2.png" width="auto" height="30"/></td>
        <td style="width: 10px;"></td>
        <td style="width: 210px; text-align: center;"><div align="center"><h3>Datos Actuales</h3></div></td>
        <td style="width: 10px;"></td>
        <td style="width: 10px;"><img alt="Estrellita" src="img/estrella2.png" width="auto" height="30"/></td>
    </tr>
</table>
<div align="center"><img alt="Olitas" src="img/olitas2.png" width="95%" height="10"/></div>
</br>

<div style="margin-left: 100px; margin-right: 100px;">
    <p><b>Nombre:</b> {{playa.nombre}}</p>
    <p><b>Ubicación:</b> {{playa.ubicacion}}</p>
    <p><b>Descripción:</b> {{playa.descripcion}}</p>
    <!-- <p><b>Id:</b> {{playa.id}}</p> -->
    </br>
    <p><b>Fecha y Hora de Modificación:</b> {{playa.fecha}}</p>
    </br>
    
    <table align="center" ng-show="historial.length">
		<tr>
		    <td style="width: 10px;"><img alt="Palmerita" src="img/palmerita.png" width="auto" height="20"/></td>
            <td style="width: 10px;"></td>
            <td style="width: 200px; text-align: center;"><a ng-click="ARevertirCambio0()">Revertir Última Modificación</a></td>
            <td style="width: 10px;"></td>
            <td style="width: 10px;"><img alt="Palmerita" src="img/palmerita.png" width="auto" height="20"/></td>
        </tr>
    </table>
</div>
</br>

<div align="center"><img alt="Olitas" src="img/olitas2.png" width="95%" height="10"/></div>
<table align="center">
	<tr>
	    <td style="width: 10px;"><img alt="Estrellita" src="img/estrella2.png" width="auto" height="30"/></td>
        <td style="width: 10px;"></td>
        <td style="width: 180px; text-align: center;"><div align="center"><h3>Historial</h3></div></td>
        <td style="width: 10px;"></td>
        <td style="width: 10px;"><img alt="Estrellita" src="img/estrella2.png" width="auto" height="30"/></td>
    </tr>
</table>
<div align="center"><img alt="Olitas" src="img/olitas2.png" width="95%" height="10"/></div>
</br>

<p ng-hide="historial.length">No existen cambios registrados para esta playa.</p>

<div ng-repeat="h in historial">
    <ul>
        <div style="margin-left: 80px; margin-right: 100px;">
            <p align="center"><b>Modificación:</b></p>
            <p align="center">{{h.fecha}}</p>
            </br>
            <p><b>Nombre:</b> {{h.nombre}}</p>
            <p><b>Ubicación:</b> {{h.ubicacion}}</p>
            <p><b>Descripción:</b> {{h.descripcion}}</p>
            <div style="background-color: #585858; height: 1px;"></div>
        </div>
    </ul>
</div>
</br>

</div>

