<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VPlaya1(playa.id)">
  Regresar</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>


        <form id="cajitaInformacion" style="margin-left: 4%; margin-right: 2%;" name="modifPlayaFormForm" ng-submit="AModifPlaya0(modifPlayaFormForm.$valid)" novalidate>
        <div id="cajitaInformacion" style="margin-left: 4%; margin-right: 2%;">
            <table>
    				<tr>
    				    <td><img alt="Estrellita" src="img/estrella2.png" width="auto" height="20" /></td>
    				    <div class="form-group" ng-class="{ 'has-error' :  modifPlayaFormSubmitted && modifPlayaFormForm.nombre.$invalid && modifPlayaFormForm.nombre.$pristine && modifPlayaFormSubmitted}">
    				    <td style="width: 5px;"></td>
    				    <td><label for="modifPlayaForm_nombre">Nombre</label></td>
    				</tr>
    		</table>
    		<input id="modifPlayaForm_nombre" type="text" name="nombre" class="form-control" ng-model="modifPlayaForm.nombre" placeholder="Nombre" required/><p ng-show="modifPlayaFormSubmitted && modifPlayaFormForm.nombre.$invalid" class="help-block">Error en campo Nombre.</p></div>
    		</br>
    	</div>
    
    
        <div id="cajitaInformacion" style="margin-left: 4%; margin-right: 2%;">
    		<table>
    				<tr>
    				    <td><img alt="Estrellita" src="img/estrella2.png" width="auto" height="20" /></td>
    				    <div class="form-group" ng-class="{ 'has-error' :  modifPlayaFormSubmitted && modifPlayaFormForm.ubicacion.$invalid && modifPlayaFormForm.ubicacion.$pristine && modifPlayaFormSubmitted}">
    				    <td style="width: 5px;"></td>
    				    <td><label for="modifPlayaForm_ubicacion">Ubicación</label></td>
    				</tr>
    		</table>
    		<input id="modifPlayaForm_ubicacion" type="text" name="ubicacion" class="form-control" ng-model="modifPlayaForm.ubicacion" placeholder="Ubicacion" required/><p ng-show="modifPlayaFormSubmitted && modifPlayaFormForm.ubicacion.$invalid" class="help-block">Error en campo Ubicacion.</p></div>
    		</br>
        </div>
    	
        <div id="cajitaInformacion" style="margin-left: 4%; margin-right: 2%;">
    		<table>
    				<tr>
    				    <td><img alt="Estrellita" src="img/estrella2.png" width="auto" height="20" /></td>
    				    <div class="form-group" ng-class="{ 'has-error' :  modifPlayaFormSubmitted && modifPlayaFormForm.descripcion.$invalid && modifPlayaFormForm.descripcion.$pristine && modifPlayaFormSubmitted}">
    				    <td style="width: 5px;"></td>
    				    <td><label for="modifPlayaForm_descripcion">Descripción</label></td>
    				</tr>
    		</table>
    		<textarea id="modifPlayaForm_descripcion" name="descripcion" class="form-control" ng-model="modifPlayaForm.descripcion" placeholder="Descripcion" required></textarea><p ng-show="modifPlayaFormSubmitted && modifPlayaFormForm.descripcion.$invalid" class="help-block">Error en campo Descripcion.</p></div>
    		</br>
        </div>
            
            <div id="cajitaInformacion" align="center" style="margin-left: 4%; margin-right: 2%;">
                </br>
            	<table align="center">
            		<tr>
            		    <td style="width: 10px;"><img alt="Palmerita" src="img/palmerita.png" width="auto" height="20"/></td>
                        <td style="width: 10px;"></td>
                        <td style="width: 190px; text-align: center;">
                            <button type="submit" style="background-color: #FFFFFF; border: 0px; color: #8181F7;">
                                Modificar Datos de Playa
                            </button>
                        </td>
                        <td style="width: 10px;"></td>
                        <td style="width: 10px;"><img alt="Palmerita" src="img/palmerita.png" width="auto" height="20"/></td>
                    </tr>
                </table>
                </br>
            </div>
    
        </form>

    </br>
</div>


