<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>

<div id="cajitaInformacion" align="center" style="text-align: center; margin-left: 4%; margin-right: 2%;">

<div align="center"><h2>Playas Registradas</h2></div>

<div align="center"><img alt="Olitas" src="img/olitas2.png" width="95%" height="10"/></div>
<div>
	<table style="width:92%">
		<tr>
			<td style="width: 15px;"></td>
			<td style="width: 220px; text-align: center;"><b>Nombre de la Playa</b></td>
			<td style="width: 2px;"></td>
			<td style="width: 150px; text-align: center;"><b>Ubicación</b></td>
			<td style="width: 5px;"></td>
			<td style="width: 190px; text-align: center;"><b>Descripción</b></td>
		</tr>
	</table>
</div>
<div align="center"><img alt="Olitas" src="img/olitas2.png" width="95%" height="10"/></div>
</br>

<div style="width:92%">
    <ul>
        <div ng-repeat="playa in playas">
            <div ng-click="VPlaya0(playa.id)"> 
                <table align="center">
    				<tr>
    				    <td><img alt="Estrellita" src="img/estrella2.png" width="auto" height="30" /></td>
    					<td style="width: 280px; text-align: center;"><b>{{playa.nombre}}</b></td><td style="width: 10px;"></td>
    					<td style="width: 280px; text-align: center;">{{playa.ubicacion}}</td><td style="width: 10px;"></td>
    					<td style="width: 280px; text-align: center;">{{playa.descripcion}}</td>
    				</tr>
    			</table>
    			<hr/>
            </div>
        </div>
    </ul>
</div>
</br></br>

<div>
	<table align="center">
		<tr>
		    <td style="width: 10px;"><img alt="Palmerita" src="img/palmerita.png" width="auto" height="20"/></td>
            <td style="width: 10px;"></td>
            <td style="width: 80px; text-align: center;"><a ng-click="VCrearPlaya1()">Crear Playa</a></td>
            <td style="width: 10px;"></td>
            <td style="width: 10px;"><img alt="Palmerita" src="img/palmerita.png" width="auto" height="20"/></td>
        </tr>
    </table>
</div>
</br></br>
</div>
