<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
                <li><a ng-click="VPlayas2()">
                    Regresar</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>


<div id="cajitaInformacion" style="margin-left: 4%; margin-right: 2%;">

</br>
<div align="center"><img alt="Olitas" src="img/olitas2.png" width="95%" height="10"/></div>
<div align="center"><h2>{{playa.nombre}}</h2></div>
<div align="center"><img alt="Olitas" src="img/olitas2.png" width="95%" height="10"/></div>
</br>

<div style="margin-left: 100px; margin-right: 100px;">
    <p><b>Lugar:</b> {{playa.ubicacion}}</p>
    <p><b>Descripción:</b> {{playa.descripcion}}</p>
    <!-- <p><b>Id:</b> {{playa.id}}</p> -->
    <!-- <p><b>Fecha:</b> {{playa.fecha}}</p> -->
</div>
</br>

<div>
	<table align="center">
		<tr>
		    <td style="width: 10px;"><img alt="Palmerita" src="img/palmerita.png" width="auto" height="20"/></td>
            <td style="width: 10px;"></td>
            <td style="width: 110px; text-align: center;"><a ng-click="VModifPlaya0(playa.id)">Modificar Playa</a></td>
            <td style="width: 10px;"></td>
            <td style="width: 10px;"><img alt="Palmerita" src="img/palmerita.png" width="auto" height="20"/></td>
            <td style="width: 10px;"></td>
            <td style="width: 140px; text-align: center;"><a ng-click="VCambio1(playa.id)">Historial de Cambios</a></td>
            <td style="width: 10px;"></td>
            <td style="width: 10px;"><img alt="Palmerita" src="img/palmerita.png" width="auto" height="20"/></td>
        </tr>
    </table>
</div>
</br>

</div>